{{!-- <section>
    <h2>
        There are {{restaurants.length}} restaurants
    </h2>

    {{#each restaurants}}
    <article class="clearfix item-container block"
    <h2>{{name}} </h2>
    <img class="item-img" src="{{image}}"/>
      <a class="btn" href="/restaurants/{{id}}">View Restaurant</a>
    {{/each}}
      </section> --}}

<body>
    <section>
    <h2>There are {{restaurants.length}} restaurants</h2>
    
    {{#each restaurants}} {{!-- for each element in restaurant list,show this html --}}
    <article>
        <h2>{{name}}</h2>
        <img class= "item-img" src="{{image}}"/>
        <br>
        <br>
        <button><a class="btn" href="/restaurants/{{id}}">See Restaurant</a></button>
    </article>
    {{/each}}
</section>
</body>
