
    <section>
    <h2>There are {{restaurants.length}} restaurants</h2>
    
    {{#each restaurants}} {{!-- for each element in restaurant list,show this html --}}
    <article>
        <h2>{{name}}</h2>
        <img class= "item-img" src="{{image}}"/>
        <br>
        <br>
        <button><a class="btn" href="/restaurants/{{id}}">See Restaurant</a></button>
        <div class="big-block">
    <h2 id="item-name">{{sauce.name}}</h2>
    <img class="item-img" src="{{sauce.image}}" />
    {{!-- <button id="delete-btn">Delete</button> --}}
</div>
    </article>
    {{/each}}
  <div>
        <a href="/new-restaurant" class="new-restaurant-btn">Add New Restaurant!</a>

          <script src="/public/script.js"></script>

    </div>
</section>

